# ========================
# 📁 LOGS
# ========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ========================
# 📦 NODE / FRONTEND
# ========================
node_modules/
dist/
dist-ssr/
.vite/
.local/
.env
.env.*
package-lock.json
pnpm-lock.yaml

# ========================
# 🐍 PYTHON / BACKEND
# ========================
__pycache__/
*.py[cod]
*.sqlite3
*.pot
*.pyc
instance/
.mypy_cache/
.pytest_cache/
db.sqlite3
*.pyo

# Entorno virtual
venv/

# ========================
# 💻 EDITORES
# ========================
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# ========================
# 🧪 TEMPORALES y otros
# ========================
*.tmp
*.bak
*.orig
*.rej
*.merge
*.un~
*.swp
*.swo
