.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.5rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    width: 100vh;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .user-icon {
    color: #444;
  }
  